<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<link rel="stylesheet" type="text/css" href="{{extensionMediaPath}}/litegraph.css">
	<script type="text/javascript" src="{{extensionMediaPath}}/litegraph.js"></script>
    <title>Material Editor</title>
</head>
<body>
    <img src="https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif" width="300" />
    
    <canvas id='mycanvas' width='1024' height='720' style='border: 1px solid'></canvas>

    <script>
        var graph = new LGraph();

        var canvas = new LGraphCanvas("#mycanvas", graph);

        var node_const = LiteGraph.createNode("basic/const");
        node_const.pos = [200,200];
        graph.add(node_const);
        node_const.setValue(4.5);

        var node_watch = LiteGraph.createNode("basic/watch");
        node_watch.pos = [700,200];
        graph.add(node_watch);

        node_const.connect(0, node_watch, 0 );

        graph.start()
    </script>
</body>
</html>